* {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box; /* includes padding/border in width and height of elements */
}

h1 { /* my name in the title page */
    font-size: 128px;
}

h2 { /* section titles */
    font-size: 64px;
    padding-left: 5%;
    padding-top: 5%;
}

h3 { /* my title in the title page */
    font-size: 40px;
    font-style: italic;
    font-weight: thin;
}

h4 { /* project titles */
    font-size: 26px;
    margin-top: 10px;
}

h5 { /* emphasis lines */
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    padding: 30px 20px 0;
    text-align: right;
    font-size: small;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.page {
    height: 100vh;
    width: 100vw;
    display: block;
}

.nav-item {
    margin-left: 40px;
    margin-right: 20px;
}

.header-container {
    margin: 10% 15% 5%;
}

/* for roller intro animation */
.roller {
    height: 50px;
    line-height: 50px;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}

@keyframes slide {
    0%, 100% {
      top: 0;
    }
    33.33% {
      top: -50px;
    }
    66.66% {
      top: -100px;    
    }
}  

.cv-container {
    float: right;
    margin: 5% 15%;
}

.about-container {
    margin: 3% 12%;
    line-height: 25px;
}

.column {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* for about me paragraph animation */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate {
    animation: slideIn 0.5s ease forwards;
}

.projects-container {
    padding: 2% 5% 5% 5%;
}

.project-container {
    width: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    float: left;
}

.project-img {
    width: 90%;
    object-fit: fill;
    border-radius: 0 100px 0 0;
}

.project-tags {
    margin-top: 10px;
    font-size: smaller;
}

.project-tag {
    border-style: solid;
    border-radius: 50px;
    padding: 1px 7px 2px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.project-text {
    margin-top: 10px;
}

.project-container a:hover {
    font-style: italic;
    font-weight: bolder;
}

.half-page {
    height: 50vh;
    width: 100vw;
    background-color: black;
    color: white;
}

.half-page a {
    color: white;
}

.contact-container {
    padding: 3% 5%;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-link {
    margin: 20px 20px 0px;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#garden-img {
    display: block;
    width: 68%;
    align-content: center;
    border-radius: 200px 0 0 0;
    float: left
}

#copyright {
    display: block;
    text-align: center;
    font-size: smaller;
    float: bottom;
}

/* hover colors: used in project tags */

.pink:hover {
    color: white;
    background-color: pink;
    border-color: pink;
}

.orange:hover {
    color: white;
    background-color: coral;
    border-color: coral;
}

.yellow:hover {
    color: white;
    background-color: gold;
    border-color: gold;
}

.green:hover {
    color: white;
    background-color: darkseagreen;
    border-color: darkseagreen;
}

.green2:hover {
    color: white;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.blue:hover {
    color: white;
    background-color: skyblue;
    border-color: skyblue;
}

.purple:hover {
    color: white;
    background-color: plum;
    border-color: plum;
}